# No need to git add node modules. `npm install` will install 
# all the dependencies that are written within package.json


node_modules/
package-lock.json

# Be responsible and do the same for your own editor of choice
.vscode