.bars {
  color: #333333;
  padding-right: 15px;
  cursor: pointer;
}

.menu_item {
  margin-right: 25px;
  margin-left: 25px;
  text-decoration: none;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}
